.oceans-touchflare {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}
.oceans-touchflare-flare {
	position: absolute;
	box-sizing: border-box;
	margin: -50px;
	width: 100px;
	height: 100px;
	border: 6px solid rgba(153, 204, 255, 0.8);
	border-radius: 50%;
	z-index: 999999999;
	transform: scale(1);
	opacity: 1;
	animation: oceans-touchflare-start 0.1s 0s 1 ease-out;
}
.oceans-touchflare,
.oceans-touchflare * {
	pointer-events: none;
}
.oceans-touchflare-end {
	transform: scale(1.5);
	opacity: 0;
	animation: oceans-touchflare-end 0.2s 0s 1 ease-out;
}
@keyframes oceans-touchflare-start {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes oceans-touchflare-end {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}
